<script setup lang="ts">
import "bulma/css/bulma.css";
import "flag-css/css/flag-css.css";
import { RouterLink, RouterView } from "vue-router";
import { useUserStore } from "./stores/user";
import { AUTH_TOKEN_KEY } from "./apollo";
import { onBeforeMount, onMounted } from "vue";

const user = useUserStore();

// onBeforeMount(async () => {
//   const oldToken = localStorage.getItem(AUTH_TOKEN_KEY);
//   if (oldToken) {
//     console.log("FOUND oldTOken");
//     await user.validateRefreshToken(oldToken);
//     console.log("Token REFRESH");
//   }
// });

user.$subscribe(
  (mutation, state) => {
    localStorage.setItem(AUTH_TOKEN_KEY, state.token);
  },
  { detached: true }
);

async function logoutUser() {
  console.log("Logging out!");
  user.logout();
}

// Fix dropdown not closing
// from https://github.com/jgthms/bulma/issues/2514#issuecomment-721454902
onMounted(() => {
  document
    .getElementById("main-navigation")!
    .querySelectorAll(".has-dropdown")
    .forEach((value) => {
      const el = value as HTMLElement;
      el.addEventListener("click", () => {
        const menu = el.querySelector(".navbar-dropdown") as HTMLElement;
        if (menu) {
          menu.style.display = "none";
          setTimeout(() => {
            el.blur();
            // Reset the display property to its original state, so the menu can appear again next time
            menu.style.display = "";
          }, 200);
        }
      });
    });
});
</script>

<template>
  <nav
    id="main-navigation"
    class="navbar is-light"
    role="navigation"
    aria-label="main navigation"
  >
    <div class="container">
      <div class="navbar-brand">
        <router-link class="navbar-item" :to="{ name: 'home' }">
          <img src="./assets/logo_square.png" height="28" />
        </router-link>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">My delegation</a>

            <div class="navbar-dropdown">
              <router-link
                class="navbar-item"
                :to="{ name: 'delegationContact' }"
              >
                Contact details
              </router-link>

              <router-link
                class="navbar-item"
                :to="{ name: 'delegationMembers' }"
              >
                Members
              </router-link>

              <router-link
                class="navbar-item"
                :to="{ name: 'delegationDocuments' }"
              >
                Delegation documents
              </router-link>

              <router-link
                class="navbar-item"
                :to="{ name: 'delegationFinancial' }"
              >
                Financial
              </router-link>
            </div>
          </div>

          <router-link class="navbar-item" :to="{ name: 'documents' }">
            Documents
          </router-link>
        </div>

        <div class="navbar-end" v-if="user.isAuthenticated">
          <div class="navbar-item">{{ user.username }}</div>
          <a class="navbar-item" href="#" @click.prevent="logoutUser">Logout</a>
        </div>
      </div>
    </div>
  </nav>

  <router-view />

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        Copyright © 2022 Oly Exams. Version 1.0.0.
        <a href="https://gitlab.com/oly-exams/register_tool" target="_blank"
          >Source</a
        >
      </p>
    </div>
  </footer>
</template>
