<script setup lang="ts">
import { ref, watch } from "vue";
import { useMutation, useQuery, useResult } from "@vue/apollo-composable";
import { useUserStore } from "@/stores/user";
import Config from "@/config.json";
import { DELEGATION_DOCUMENTS } from "@/apollo/queries";
import { UPLOAD_DELEGATION_DOCUMENT } from "@/apollo/mutations";
import type { DelegationDocumentTypeType, GetDocumentTypesQuery } from "@/gql/graphql";

const user = useUserStore();

const loading = ref(false);
const documents = ref();
function runLoadQuery() {
  const {
    result: resultDocs,
    loading: loadingDocs,
    error: errorDocs,
  } = useQuery(DELEGATION_DOCUMENTS);
  watch(resultDocs, (value) => {
    if (value?.documentTypes) {
      documents.value = (value as GetDocumentTypesQuery).documentTypes;
    }
  });
  watch(loadingDocs, (value) => {
    loading.value = value;
  });
}

runLoadQuery();

const {
  mutate: uploadDoc,
  loading: mLoading,
  error: mError,
  onDone: uploadDocDone,
  onError: uploadDocError,
} = useMutation(UPLOAD_DELEGATION_DOCUMENT, () => ({
  context: {
    hasUpload: true,
  },
}));

const selectedUploadDoc = ref<HTMLInputElement | null>();

const handleUpload = async (event: Event, documentType: string) => {
  if (!event.target) {
    return;
  }
  const fileInput = event.target as HTMLInputElement;
  if (fileInput.files && fileInput.files[0] && user.delegation) {
    uploadDoc({
      delegationCode: user.delegation.name,
      documentType: documentType,
      document: fileInput.files[0],
    });
    uploadDocError((err) => {
      if (fileInput && fileInput.files) {
        const dt = new DataTransfer();
        fileInput.files = dt.files;
      }
      console.error("Errors occurred.", err);
    });
    uploadDocDone(() => {
      if (fileInput && fileInput.files) {
        const dt = new DataTransfer();
        fileInput.files = dt.files;
      }
      runLoadQuery();
    });
  }
};

// const toMediaUrl = (path: string) => `${Config.APP_MEDIA_URL}/${path}`;
const toMediaUrl = (path: string) => {
  return path.startsWith("http") || path.startsWith("blob:")
    ? path
    : `${Config.APP_MEDIA_URL}/${path}`;
};
</script>

<template>
  <div class="container">
    <section class="section">
      <h1 class="title is-1">
        {{ user.delegation.country }} ({{ user.delegation.name }})
        <span
          :class="'flag-css fc-alpha3-' + user.delegation.name.toLowerCase()"
        ></span>
      </h1>
      <h2 class="subtitle">Delegation documents</h2>

      <p v-if:="loading">
        <button class="button is-small is-static is-loading"></button>
        Loading...
      </p>

      <div class="columns">
        <div class="column is-half">
          <h3 class="title is-3">To upload</h3>

          <table class="table is-hoverable">
            <thead>
              <tr>
                <th>Status</th>
                <th>Document</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <template v-for="docType in documents" :key="docType.id">
                <tr v-if="docType.provider == 'D'">
                  <td>
                    <div
                      class="tags has-addons"
                      v-if="docType.delegationdocumentSet.length == 0"
                    >
                      <span class="tag is-danger icon">
                        <i class="mdi mdi-alert-circle-outline"></i>
                      </span>
                      <span class="tag is-light is-danger">missing</span>
                    </div>
                    <div class="tags has-addons" v-else>
                      <span class="tag is-success icon">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                      <span class="tag is-light is-success"
                        ><time
                          :datetime="docType.delegationdocumentSet[0].timestamp"
                          >{{
                            docType.delegationdocumentSet[0].timestamp
                          }}</time
                        ></span
                      >
                    </div>
                  </td>

                  <td v-if="docType.delegationdocumentSet.length == 0">
                    {{ docType.name }}
                  </td>
                  <td v-else>
                    <a
                      :href="
                        toMediaUrl(docType.delegationdocumentSet[0].document)
                      "
                      target="_blank"
                      >{{ docType.name }}</a
                    >
                  </td>

                  <td>
                    <div class="file is-small">
                      <label class="file-label">
                        <input
                          class="file-input"
                          type="file"
                          v-on:change="handleUpload($event, docType.id)"
                        />
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="mdi mdi-upload"></i>
                          </span>
                          <span class="file-label">Upload</span>
                        </span>
                      </label>
                    </div>
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>

        <div class="column is-half">
          <h3 class="title is-3">To download</h3>

          <table class="table is-hoverable">
            <thead>
              <tr>
                <th>Date</th>
                <th>Document</th>
              </tr>
            </thead>
            <tbody>
              <template v-for="docType in documents" :key="docType.id">
                <template
                  v-if="
                    docType.provider == 'O' &&
                    docType.delegationdocumentSet.length > 0
                  "
                >
                  <tr
                    v-for="doc in docType.delegationdocumentSet"
                    :key="doc.id"
                  >
                    <td>
                      {{ doc.timestamp }}
                    </td>
                    <td>
                      <a :href="toMediaUrl(doc.document)" target="_blank">{{
                        docType.name
                      }}</a>
                    </td>
                  </tr>
                </template>
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</template>
