<script setup lang="ts">
import { ref, watch } from "vue";
import { useQuery, useResult, useMutation } from "@vue/apollo-composable";
import { useRoute, useRouter } from "vue-router";
import { STUDENT } from "../apollo/queries";
import type { UpdateStudentMutationInput } from "@/gql/graphql";
import { SUBMIT_STUDENT, UPDATE_STUDENT } from "@/apollo/mutations";
import { useUserStore } from "@/stores/user";
import Config from "@/config.json";

const route = useRoute();
const router = useRouter();
const user = useUserStore();

const variables = ref({
  code: route.params.code as string,
});

const { result, loading, error } = useQuery(STUDENT, variables);
const student = useResult(result);
const studentPhoto = ref("");
const form = ref({ ...student.value });
watch(student, (value) => {
  form.value = { ...value };
  if (value) {
    studentPhoto.value = value.photo;
  }
  delete form.value.__typename;
  delete form.value.code;
  delete form.value.submitted;
  delete form.value.photo;
  delete form.value.photographyConsent;
  delete form.value.codeOfConduct;
});

const {
  mutate: updateStudent,
  loading: mLoading,
  error: mError,
  onDone: updateStudentDone,
  onError: updateStudentError,
} = useMutation(UPDATE_STUDENT, () => ({
  variables: { input: form.value as UpdateStudentMutationInput },
  context: {
    hasUpload: true,
  },
}));

const uploadPhoto = ref<HTMLInputElement | null>();
const uploadPhotographyConsent = ref<HTMLInputElement | null>();
const uploadCodeOfConduct = ref<HTMLInputElement | null>();

const onHandlePreview = () => {
  if (
    uploadPhoto.value &&
    uploadPhoto.value.files &&
    uploadPhoto.value.files[0]
  ) {
    studentPhoto.value = URL.createObjectURL(uploadPhoto.value.files[0]);
  }
};

const handleSave = () => {
  if (uploadPhoto.value && uploadPhoto.value.files) {
    (form.value as UpdateStudentMutationInput).photo =
      uploadPhoto.value.files[0];
  }

  if (uploadPhotographyConsent.value && uploadPhotographyConsent.value.files) {
    (form.value as UpdateStudentMutationInput).photographyConsent =
      uploadPhotographyConsent.value.files[0];
  }

  if (uploadCodeOfConduct.value && uploadCodeOfConduct.value.files) {
    (form.value as UpdateStudentMutationInput).codeOfConduct =
      uploadCodeOfConduct.value.files[0];
  }

  updateStudent();
  updateStudentError((err) => {
    console.error("Errors occurred.", err);
  });
  updateStudentDone(() => {
    router.push({ name: "delegationMembers" });
  });
};

const showSubmitModal = ref(false);
const {
  mutate: mutateSubmit,
  loading: sLoading,
  error: sError,
  onDone: submitDone,
  onError: submitError,
} = useMutation(SUBMIT_STUDENT);

const handleSubmit = () => {
  if (student.value) {
    mutateSubmit({ code: student.value.code });
  }
  submitError((err) => {
    console.error("Errors occurred.", err);
  });
  submitDone(() => {
    console.log("done");
    router.push({ name: "delegationMembers" });
  });
};

// const toMediaUrl = (path: string) => `${Config.APP_MEDIA_URL}/${path}`;
const toMediaUrl = (path: string) => {
  return path.startsWith("http") || path.startsWith("blob:")
    ? path
    : `${Config.APP_MEDIA_URL}/${path}`;
};
</script>

<template>
  <div class="modal" :class="{ 'is-active': showSubmitModal }">
    <div class="modal-background" @click="showSubmitModal = false"></div>
    <div class="modal-card is-primary">
      <header class="modal-card-head">
        <p class="modal-card-title">Are you sure?</p>
        <button
          class="delete"
          aria-label="close"
          @click="showSubmitModal = false"
        ></button>
      </header>
      <section class="modal-card-body">
        When submitting this entry you will no longer be able to modify its
        content. If you continue, you will have to contact the organisers for
        applying any change.
      </section>
      <footer class="modal-card-foot">
        <button
          class="button is-link"
          @click="
            handleSubmit();
            showSubmitModal = false;
          "
        >
          Confirm
        </button>
        <button class="button" @click="showSubmitModal = false">Cancel</button>
      </footer>
    </div>
  </div>

  <div class="container">
    <section class="section">
      <h1 class="title is-1">
        {{ user.delegation.country }} ({{ user.delegation.name }})
        <span
          :class="'flag-css fc-alpha3-' + user.delegation.name.toLowerCase()"
        ></span>
      </h1>
      <h2 class="subtitle">Edit student</h2>

      <p v-if:="loading">
        <button class="button is-small is-static is-loading"></button>
        Loading...
      </p>

      <div class="box" v-if="student">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <h3 class="title is-3">{{ student.code }}</h3>
            </div>
            <div
              class="level-item tags has-addons is-medium"
              v-if="student.submitted"
            >
              <span class="tag is-success icon is-medium">
                <i class="mdi mdi-check"></i>
              </span>
              <span class="tag is-light is-success is-medium">submitted</span>
            </div>
          </div>
        </div>

        <fieldset :disabled="mLoading || student.submitted">
          <div class="media">
            <div class="media-left">
              <p class="image is-128x128">
                <img :src="toMediaUrl(studentPhoto)" width="128" />
              </p>
              <p>&nbsp;</p>
              <p class="file is-centered is-small">
                <label class="file-label">
                  <input
                    class="file-input"
                    type="file"
                    accept="image/*"
                    name="photo"
                    ref="uploadPhoto"
                    v-on:change="onHandlePreview()"
                  />
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="mdi mdi-upload"></i>
                    </span>
                    <span class="file-label"> Choose a file… </span>
                  </span>
                </label>
              </p>
            </div>

            <div class="media-content">
              <div class="columns">
                <div class="column is-4">
                  <div class="field">
                    <label class="label">Given name</label>
                    <div class="control">
                      <input
                        class="input"
                        type="text"
                        v-model="form.givenName"
                      />
                    </div>
                  </div>

                  <div class="field">
                    <label class="label">Last name</label>
                    <div class="control">
                      <input
                        class="input"
                        type="text"
                        v-model="form.lastName"
                      />
                    </div>
                  </div>

                  <div class="field">
                    <label class="label">Name used on the certificate</label>
                    <div class="control">
                      <input
                        class="input"
                        type="text"
                        v-model="form.certificateName"
                      />
                    </div>
                  </div>

                  <div class="field">
                    <label class="label">Gender</label>
                    <div class="control">
                      <div class="select is-fullwidth">
                        <select v-model="form.gender">
                          <option value="F">Female</option>
                          <option value="M">Male</option>
                          <option value="O">Other</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="field">
                    <label class="label">Birthday (YYYY-MM-DD)</label>
                    <div class="control">
                      <input
                        class="input"
                        type="text"
                        v-model="form.birthday"
                      />
                    </div>
                  </div>

                  <div class="field">
                    <label class="label">T-Shirt size</label>
                    <div class="control">
                      <div class="select is-fullwidth">
                        <select v-model="form.tshirtSize">
                          <option value="S">Small</option>
                          <option value="M">Medium</option>
                          <option value="L">Large</option>
                          <option value="XL">X-Large</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column is-4">
                  <div class="field">
                    <label class="label">Mobile number</label>
                    <div class="control">
                      <input
                        class="input"
                        type="tel"
                        v-model="form.mobileNumber"
                      />
                    </div>
                  </div>

                  <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                      <input class="input" type="email" v-model="form.email" />
                    </div>
                  </div>

                  <div class="field">
                    <div class="control">
                      <label class="checkbox">
                        <input
                          type="checkbox"
                          v-model="form.emailAuthorization"
                        />
                        Authorization to use the email for IPhO communications.
                      </label>
                    </div>
                  </div>

                  <div class="field">
                    <label class="label">School name</label>
                    <div class="control">
                      <input
                        class="input"
                        type="text"
                        v-model="form.schoolName"
                      />
                    </div>
                  </div>

                  <div class="field">
                    <label class="label">School address</label>
                    <div class="control">
                      <input
                        class="input"
                        type="text"
                        v-model="form.schoolAddress"
                      />
                    </div>
                  </div>
                </div>

                <div class="column is-4">
                  <div class="field">
                    <label class="label">Photography consent</label>
                    <p v-if="student.photographyConsent">
                      <a
                        :href="toMediaUrl(student.photographyConsent)"
                        target="_blank"
                        >Uploaded file</a
                      >
                    </p>
                    <div class="file is-small">
                      <label class="file-label">
                        <input
                          class="file-input"
                          type="file"
                          accept="image/*,application/pdf"
                          ref="uploadPhotographyConsent"
                          name="photographyConsent"
                        />
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="mdi mdi-upload"></i>
                          </span>
                          <span class="file-label"> Choose a file… </span>
                        </span>
                      </label>
                    </div>
                  </div>

                  <div class="field">
                    <label class="label">Code of conduct</label>
                    <p v-if="student.codeOfConduct">
                      <a
                        :href="toMediaUrl(student.codeOfConduct)"
                        target="_blank"
                        >Uploaded file</a
                      >
                    </p>
                    <div class="file is-small">
                      <label class="file-label">
                        <input
                          class="file-input"
                          type="file"
                          accept="image/*,application/pdf"
                          ref="uploadCodeOfConduct"
                          name="codeOfConduct"
                        />
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="mdi mdi-upload"></i>
                          </span>
                          <span class="file-label"> Choose a file… </span>
                        </span>
                      </label>
                    </div>
                  </div>

                  <div class="field">
                    <div class="control">
                      <label class="checkbox">Medical issues</label>
                      <textarea
                        class="textarea"
                        v-model="form.medicalIssue"
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field is-grouped">
                <div class="control">
                  <button
                    class="button is-link"
                    @click="handleSave()"
                    :class="{ 'is-loading': mLoading }"
                  >
                    Save
                  </button>
                </div>
                <div class="control">
                  <router-link
                    class="button is-link is-light"
                    :to="{ name: 'delegationMembers' }"
                    >Cancel</router-link
                  >
                </div>
                <div class="control" v-if="!student.submitted">
                  <button
                    class="button is-link"
                    @click="showSubmitModal = true"
                  >
                    <span class="icon">
                      <i class="mdi mdi-check"></i>
                    </span>
                    <span>Final submission</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </section>
  </div>
</template>
