<script setup lang="ts">
import { ref, watch } from "vue";
import { useMutation, useQuery } from "@vue/apollo-composable";
import { DELEGATION_MEMBERS } from "@/apollo/queries";
import {
  CREATE_LEADER,
  CREATE_STUDENT,
  REMOVE_LEADER,
  REMOVE_STUDENT,
} from "@/apollo/mutations";
import { useUserStore } from "@/stores/user";
import Config from "@/config.json";
import type {
  GetDelegationMembersQuery,
  LeaderTypeChoice,
} from "@/gql/graphql";

const user = useUserStore();

const showDeleteModal = ref(false);

const selectedPersonType = ref("");
type deleteTextMappingType = {
  [key: string]: string;
};
const deleteModalText = {
  S: "Removing students will delete the student with larger identifier.",
  L: "Removing team leaders will delete the team leader with larger identifier.",
  O: "Removing observers will delete the observer with larger identifier.",
  I: "Removing invigilators will delete the invigilator.",
} as deleteTextMappingType;

const result = ref<GetDelegationMembersQuery>();
const loading = ref(false);

function runLoadQuery() {
  const {
    result: queryResult,
    loading: queryLoading,
    error,
  } = useQuery(DELEGATION_MEMBERS);
  watch(queryResult, (value) => {
    if (value?.delegation) {
      result.value = value;
    }
  });
}

runLoadQuery();

const {
  mutate: createStudent,
  loading: mStudentLoading,
  error: mStudentError,
} = useMutation(CREATE_STUDENT, () => ({
  update: runLoadQuery,
}));

const {
  mutate: removeStudent,
  loading: mRStudentLoading,
  error: mRStudentError,
} = useMutation(REMOVE_STUDENT, () => ({
  update: runLoadQuery,
}));

const {
  mutate: createLeader,
  loading: mLeaderLoading,
  error: mLeaderError,
} = useMutation(CREATE_LEADER, () => ({
  update: runLoadQuery,
}));

const {
  mutate: removeLeader,
  loading: mRLeaderLoading,
  error: mRLeaderError,
} = useMutation(REMOVE_LEADER, () => ({
  update: runLoadQuery,
}));

const handleCreateLeader = (type: string) => {
  createLeader({ type: type as LeaderTypeChoice });
};

const handleRemove = () => {
  if (selectedPersonType.value == "S") {
    removeStudent();
  } else {
    removeLeader({ type: selectedPersonType.value as LeaderTypeChoice });
  }
};

const mapLeaderType = {
  L: "Team leader",
  O: "Observer",
  I: "Invigilator",
};

// const toMediaUrl = (path: string) => `${Config.APP_MEDIA_URL}/${path}`;
const toMediaUrl = (path: string) => {
  return path.startsWith("http") ? path : `${Config.APP_MEDIA_URL}/${path}`;
};
</script>

<template>
  <div class="modal" :class="{ 'is-active': showDeleteModal }">
    <div class="modal-background" @click="showDeleteModal = false"></div>
    <div class="modal-card is-danger">
      <header class="modal-card-head">
        <p class="modal-card-title">Are you sure?</p>
        <button
          class="delete"
          aria-label="close"
          @click="showDeleteModal = false"
        ></button>
      </header>
      <section class="modal-card-body">
        {{ deleteModalText[selectedPersonType] }}
      </section>
      <footer class="modal-card-foot">
        <button
          class="button is-danger"
          @click="
            handleRemove();
            showDeleteModal = false;
          "
        >
          Remove
        </button>
        <button class="button" @click="showDeleteModal = false">Cancel</button>
      </footer>
    </div>
  </div>

  <div class="container">
    <section class="section">
      <h1 class="title is-1">
        {{ user.delegation.country }} ({{ user.delegation.name }})
        <span
          :class="'flag-css fc-alpha3-' + user.delegation.name.toLowerCase()"
        ></span>
      </h1>
      <h2 class="subtitle">Manage your delegation members</h2>

      <p v-if:="loading">
        <button class="button is-small is-static is-loading"></button>
        Loading...
      </p>
      <div class="tile is-ancestor">
        <div class="tile is-parent" v>
          <div class="tile is-child box">
            <h3 class="title is-3">Students</h3>

            <div class="is-pulled-right field is-grouped">
              <div class="control dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <button class="button is-outlined">
                    <span>Students</span>
                    <span class="icon">
                      <i class="mdi mdi-menu-down"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu">
                  <div class="dropdown-content">
                    <a
                      href="#"
                      class="dropdown-item has-text-primary"
                      @click.prevent="createStudent()"
                    >
                      <span class="icon">
                        <i class="mdi mdi-plus-circle"></i>
                      </span>
                      <span>Add</span>
                    </a>
                    <a
                      href="#"
                      class="dropdown-item has-text-danger"
                      @click.prevent="
                        selectedPersonType = 'S';
                        showDeleteModal = true;
                      "
                    >
                      <span class="icon">
                        <i class="mdi mdi-minus-circle"></i>
                      </span>
                      <span>Remove</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <table class="table is-fullwidth is-hoverable">
              <thead>
                <tr>
                  <th>Code</th>
                  <th>Name</th>
                  <th>Photo</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody v-if="result && result.delegation">
                <tr v-for:="student in result.delegation.studentSet">
                  <td>
                    {{ student.code }}
                    <div class="tags has-addons" v-if="student.submitted">
                      <span class="tag is-success icon">
                        <i class="mdi mdi-check"></i>
                      </span>
                      <span class="tag is-light is-success">submitted</span>
                    </div>
                  </td>
                  <td>{{ student.givenName }} {{ student.lastName }}</td>
                  <td>
                    <figure class="image is-64x64">
                      <img
                        :src="toMediaUrl(student.photo)"
                        style="max-height: 64px"
                      />
                    </figure>
                  </td>
                  <td>
                    <div class="buttons">
                      <router-link
                        class="button is-small"
                        :to="{
                          name: 'delegationEditStudent',
                          params: { code: student.code },
                        }"
                      >
                        <span class="icon is-small">
                          <i class="mdi mdi-pencil"></i>
                        </span>
                      </router-link>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="tile is-parent">
          <div class="tile is-child box">
            <h3 class="title is-3">Leaders and observers</h3>

            <div class="is-pulled-right field is-grouped">
              <div class="control dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <button class="button is-outlined">
                    <span>Team leaders</span>
                    <span class="icon">
                      <i class="mdi mdi-menu-down"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu">
                  <div class="dropdown-content">
                    <a
                      href="#"
                      class="dropdown-item has-text-primary"
                      @click.prevent="handleCreateLeader('L')"
                    >
                      <span class="icon">
                        <i class="mdi mdi-plus-circle"></i>
                      </span>
                      <span>Add</span>
                    </a>
                    <a
                      href="#"
                      class="dropdown-item has-text-danger"
                      @click.prevent="
                        selectedPersonType = 'L';
                        showDeleteModal = true;
                      "
                    >
                      <span class="icon">
                        <i class="mdi mdi-minus-circle"></i>
                      </span>
                      <span>Remove</span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="control dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <button class="button is-outlined">
                    <span>Observers</span>
                    <span class="icon">
                      <i class="mdi mdi-menu-down"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu">
                  <div class="dropdown-menu">
                    <div class="dropdown-content">
                      <a
                        href="#"
                        class="dropdown-item has-text-primary"
                        @click.prevent="handleCreateLeader('O')"
                      >
                        <span class="icon">
                          <i class="mdi mdi-plus-circle"></i>
                        </span>
                        <span>Add</span>
                      </a>
                      <a
                        href="#"
                        class="dropdown-item has-text-danger"
                        @click.prevent="
                          selectedPersonType = 'O';
                          showDeleteModal = true;
                        "
                      >
                        <span class="icon">
                          <i class="mdi mdi-minus-circle"></i>
                        </span>
                        <span>Remove</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="control dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <button class="button is-outlined">
                    <span>Invigilators</span>
                    <span class="icon">
                      <i class="mdi mdi-menu-down"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu">
                  <div class="dropdown-menu">
                    <div class="dropdown-content">
                      <a
                        href="#"
                        class="dropdown-item has-text-primary"
                        @click.prevent="handleCreateLeader('I')"
                      >
                        <span class="icon">
                          <i class="mdi mdi-plus-circle"></i>
                        </span>
                        <span>Add</span>
                      </a>
                      <a
                        href="#"
                        class="dropdown-item has-text-danger"
                        @click.prevent="
                          selectedPersonType = 'I';
                          showDeleteModal = true;
                        "
                      >
                        <span class="icon">
                          <i class="mdi mdi-minus-circle"></i>
                        </span>
                        <span>Remove</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <table class="table is-fullwidth is-hoverable">
              <thead>
                <tr>
                  <th>Code</th>
                  <th>Name</th>
                  <th>Photo</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody v-if="result && result.delegation">
                <tr v-for:="leader in result.delegation.leaderSet">
                  <td>
                    {{ mapLeaderType[leader.type] }}
                    <br />
                    {{ leader.code }}
                    <div class="tags has-addons" v-if="leader.submitted">
                      <span class="tag is-success icon">
                        <i class="mdi mdi-check"></i>
                      </span>
                      <span class="tag is-light is-success">submitted</span>
                    </div>
                  </td>
                  <td>{{ leader.givenName }} {{ leader.lastName }}</td>
                  <td>
                    <figure class="image is-64x64">
                      <img
                        :src="toMediaUrl(leader.photo)"
                        style="max-height: 64px"
                      />
                    </figure>
                  </td>
                  <td>
                    <p class="buttons">
                      <router-link
                        class="button is-small"
                        :to="{
                          name: 'delegationEditLeader',
                          params: { code: leader.code },
                        }"
                      >
                        <span class="icon is-small">
                          <i class="mdi mdi-pencil"></i>
                        </span>
                      </router-link>
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
