<script setup lang="ts">
import { computed, ref, watch } from "vue";
import { useQuery, useResult, useMutation } from "@vue/apollo-composable";
import { useRoute, useRouter } from "vue-router";
import { DELEGATION_CONTACT } from "../apollo/queries";
import type { UpdateDelegationContactMutationInput } from "@/gql/graphql";
import {
  UPDATE_DELEGATION_CONTACT,
  UPDATE_USER_PASSWORD,
} from "@/apollo/mutations";
import { useUserStore } from "@/stores/user";
import Config from "@/config.json";

const user = useUserStore();

const { result, loading, error } = useQuery(DELEGATION_CONTACT);
const delegation = useResult(result);
const form = ref({ ...delegation.value });
watch(delegation, (value) => {
  form.value = { ...value };
  delete form.value.__typename;
});

const {
  mutate: updateContactDetails,
  loading: mLoading,
  error: mError,
  onDone: updateDone,
  onError: updateError,
} = useMutation(UPDATE_DELEGATION_CONTACT, () => ({
  variables: { input: form.value as UpdateDelegationContactMutationInput },
}));

const handleSave = () => {
  updateContactDetails();
  updateError((err) => {
    console.error("Errors occurred.", err);
  });
  updateDone((result) => {
    if (result.data?.updateContactDetails?.delegation) {
      form.value = { ...result.data.updateContactDetails.delegation };
      delete form.value.__typename;
    }
    console.log("done");
  });
};

const changePassword = ref("");
const confirmPassword = ref("");
const passwordMismatch = computed(
  () => changePassword.value != confirmPassword.value
);

const {
  mutate: updateUserPassword,
  loading: pLoading,
  error: pError,
  onDone: updatePasswordDone,
  onError: updatePasswordError,
} = useMutation(UPDATE_USER_PASSWORD);

const handleChangePassword = () => {
  updateUserPassword({
    newPassword1: changePassword.value,
    newPassword2: confirmPassword.value,
  });
  changePassword.value = "";
  confirmPassword.value = "";

  updatePasswordError((err) => {
    console.error("Errors occurred.", err);
  });
  updatePasswordDone(() => {
    console.log("done");
  });
};

// const toMediaUrl = (path: string) => `${Config.APP_MEDIA_URL}/${path}`;
const toMediaUrl = (path: string) => {
  return path.startsWith("http") || path.startsWith("blob:")
    ? path
    : `${Config.APP_MEDIA_URL}/${path}`;
};
</script>

<template>
  <div class="container">
    <section class="section">
      <h1 class="title is-1">
        {{ user.delegation.country }} ({{ user.delegation.name }})
        <span
          :class="'flag-css fc-alpha3-' + user.delegation.name.toLowerCase()"
        ></span>
      </h1>
      <h2 class="subtitle">Contact details</h2>

      <p v-if:="loading">
        <button class="button is-small is-static is-loading"></button>
        Loading...
      </p>

      <div class="columns">
        <div class="column is-6">
          <div class="box" v-if="delegation">
            <h3 class="title is-3">Edit contact details</h3>

            <p class="content is-small">
              This contact address will be used for general communication (e.g.
              invoice) or to send all the medals/certificates of your country
              after the competition.
            </p>

            <fieldset :disabled="mLoading">
              <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input class="input" type="email" v-model="form.email" />
                </div>
              </div>

              <div class="field">
                <label class="label">Address</label>
                <div class="control">
                  <input class="input" type="text" v-model="form.address" />
                </div>
              </div>

              <div class="field is-grouped">
                <div class="control">
                  <button
                    class="button is-link"
                    @click="handleSave()"
                    :class="{ 'is-loading': mLoading }"
                  >
                    Save
                  </button>
                </div>
              </div>
            </fieldset>
          </div>
        </div>

        <div class="column is-6">
          <div class="box">
            <h3 class="title is-3">Edit password</h3>

            <fieldset :disabled="pLoading">
              <div class="field">
                <label class="label">New password</label>
                <div class="control">
                  <input
                    class="input"
                    :class="{ 'is-danger': passwordMismatch }"
                    type="password"
                    v-model="changePassword"
                  />
                </div>
                <p class="help">
                  Your password can't be too similar to your other personal
                  information, must contain at least 8 characters, it can't be a
                  commonly used password and it can't be entirely numeric.
                </p>
              </div>

              <div class="field">
                <label class="label">Confirm password</label>
                <div class="control">
                  <input
                    class="input"
                    :class="{ 'is-danger': passwordMismatch }"
                    type="password"
                    v-model="confirmPassword"
                  />
                </div>
                <p class="help is-danger" v-if="passwordMismatch">
                  The password is not matching
                </p>
              </div>

              <div class="field is-grouped">
                <div class="control">
                  <button
                    class="button is-link"
                    @click="handleChangePassword()"
                    :class="{ 'is-loading': pLoading }"
                  >
                    Change
                  </button>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
