<script setup lang="ts">
import { ref, watch } from "vue";
import { useMutation, useQuery } from "@vue/apollo-composable";
import { DELEGATION_TRANSACTIONS } from "@/apollo/queries";
import { useUserStore } from "@/stores/user";
import Config from "@/config.json";

const user = useUserStore();

const total = ref(0.0);
const { result, loading, error } = useQuery(DELEGATION_TRANSACTIONS);

watch(result, (value) => {
  if (value?.delegation?.transactionSet) {
    total.value = value.delegation.transactionSet.reduce(
      (a, b) => a + parseFloat(b.amount),
      0.0
    );
  }
});

const toMediaUrl = (path: string) => {
  return path.startsWith("http") ? path : `${Config.APP_MEDIA_URL}/${path}`;
};
</script>

<template>
  <div class="container">
    <section class="section">
      <h1 class="title is-1">
        {{ user.delegation.country }} ({{ user.delegation.name }})
        <span
          :class="'flag-css fc-alpha3-' + user.delegation.name.toLowerCase()"
        ></span>
      </h1>
      <h2 class="subtitle">Financial summary</h2>

      <p v-if:="loading">
        <button class="button is-small is-static is-loading"></button>
        Loading...
      </p>

      <table class="table is-hoverable">
        <thead>
          <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Amount (EUR)</th>
          </tr>
        </thead>
        <tbody v-if="result?.delegation?.transactionSet">
          <tr v-for:="row in result.delegation.transactionSet">
            <td>
              <time :datetime="row.date">{{ row.date }}</time>
            </td>
            <td>{{ row.description }}</td>
            <td class="has-text-right">{{ row.amount }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th class="has-text-right">Total</th>
            <th class="has-text-right">{{ total }}</th>
          </tr>
        </tfoot>
      </table>
    </section>
  </div>
</template>
