<script setup lang="ts">
import { ref, watch } from "vue";
import { useQuery } from "@vue/apollo-composable";
import { DOCUMENTS } from "../apollo/queries";
import Config from "@/config.json";

const { result, loading, error } = useQuery(DOCUMENTS);
watch(result, (value) => {
  console.log(value);
});

// const toMediaUrl = (path: string) => `${Config.APP_MEDIA_URL}/${path}`;
const toMediaUrl = (path: string) => {
  return path.startsWith("http") || path.startsWith("blob:")
    ? path
    : `${Config.APP_MEDIA_URL}/${path}`;
};
</script>

<template>
  <div class="container">
    <section class="section">
      <h1 class="title is-1">Documents</h1>
      <h2 class="subtitle">
        Download the documents which must be signed by the team members.
      </h2>

      <p v-if:="loading">
        <button class="button is-small is-static is-loading"></button>
        Loading...
      </p>
    </section>

    <section class="section" v-if="result">
      <div class="columns">
        <div class="column is-half">
          <h3 class="title is-3">Mandatory</h3>

          <table class="table is-fullwidth is-hoverable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody v-if="result && result.downloads">
              <template v-for="doc in result.downloads" :key="doc.id">
                <tr v-if="doc.type == 'M'">
                  <td>
                    <span class="icon">
                      <i :class="'mdi mdi mdi-' + doc.icon"></i>
                    </span>
                    <a :href="toMediaUrl(doc.document)" target="_blank">{{
                      doc.name
                    }}</a>
                  </td>
                  <td>{{ doc.desciption }}</td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>

        <div class="column is-half">
          <h3 class="title is-3">Optional</h3>

          <table class="table is-fullwidth is-hoverable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody v-if="result && result.downloads">
              <template v-for="doc in result.downloads" :key="doc.id">
                <tr v-if="doc.type == 'O'">
                  <td>
                    <span class="icon">
                      <i :class="'mdi mdi mdi-' + doc.icon"></i>
                    </span>
                    <a :href="toMediaUrl(doc.document)" target="_blank">{{
                      doc.name
                    }}</a>
                  </td>
                  <td>{{ doc.desciption }}</td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</template>
