<script setup lang="ts">
import { ref } from "vue";
import { FORGOT_PASSWORD } from "@/apollo/mutations";
import { useMutation } from "@vue/apollo-composable";

const email = ref("");
const showSuccess = ref(false);
const errorMessage = ref("");

const {
  mutate: forgotPassword,
  loading,
  error,
  onDone: updateDone,
  onError: updateError,
} = useMutation(FORGOT_PASSWORD);

const handleForgotPassword = () => {
  showSuccess.value = false;
  errorMessage.value = "";

  forgotPassword({ email: email.value });
  updateError((err) => {
    console.error("Errors occurred.", err);
    showSuccess.value = false;
    errorMessage.value = err.message;
  });
  updateDone(() => {
    console.log("done");
    email.value = "";
    showSuccess.value = true;
  });
};
</script>

<template>
  <div class="container">
    <section class="section">
      <div class="columns is-mobile is-centered">
        <div class="column is-half">
          <form class="box" @submit.prevent="handleForgotPassword">
            <h1 class="title">Forgot password</h1>
            <div class="content">
              <p>
                Enter the email of your delegation. You will then receive a new
                password per email.
              </p>
            </div>

            <div class="message is-success" v-if="showSuccess">
              <div class="message-body">
                The new password has been sent per email successfully.
              </div>
            </div>
            <div class="message is-danger" v-if="errorMessage">
              <div class="message-body">
                <strong>Error</strong> The system experienced a failure while
                resetting the password. Please try again, or contact the
                organisers.
                <br />
                {{ errorMessage }}
              </div>
            </div>

            <fieldset :disabled="loading">
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input
                    class="input"
                    type="email"
                    placeholder="Email"
                    v-model="email"
                  />
                  <span class="icon is-small is-left">
                    <i class="mdi mdi-email"></i>
                  </span>
                </p>
              </div>

              <div class="field">
                <p class="control">
                  <button
                    class="button is-success"
                    :class="{ 'is-loading': loading }"
                    type="submit"
                  >
                    Reset
                  </button>
                </p>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </section>
  </div>
</template>
