<script setup lang="ts">
import { useUserStore } from "@/stores/user";
const user = useUserStore();
</script>

<template>
  <section class="hero is-link">
    <div class="hero-body">
      <p class="title">IPhO 2022 Registration Portal</p>
      <p class="subtitle">powered by Oly Register</p>
    </div>
  </section>
  <section class="section">
    <div class="columns">
      <div class="column is-6">
        <div class="card">
          <div class="card-content">
            <p class="title">
              {{ user.delegation.country }} ({{ user.delegation.name }})
              <span
                :class="
                  'flag-css fc-alpha3-' + user.delegation.name.toLowerCase()
                "
              ></span>
            </p>
            <div class="content">
              Manage your delegation
              <ul>
                <li>
                  <router-link :to="{ name: 'delegationContact' }"
                    >Change the contact details (email, address,
                    password)</router-link
                  >
                </li>
                <li>
                  <router-link :to="{ name: 'delegationMembers' }"
                    >Manage the delegation members</router-link
                  >
                </li>
                <li>
                  <router-link :to="{ name: 'delegationDocuments' }"
                    >Upload required documents</router-link
                  >
                </li>
                <!-- <li>
                  <router-link :to="{ name: 'delegationFinancial' }"
                    >See the financial summary</router-link
                  >
                </li> -->
              </ul>
              <tr />
              Important dates
              <ul>
                <li>
                  <strong>
                    <time datetime="2022-6-19">19th June 2022</time></strong
                  >
                  - Deadline for registration
                </li>
                <li>
                  <strong>
                    <time datetime="2022-6-30">30th June 2022</time></strong
                  >
                  - Deadlines for payments
                </li>
                <li>
                  <strong>
                    <time datetime="2022-7-10">10th July 2022</time></strong
                  >
                  - Beginning of IPhO 2022
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            <p class="title">Documents</p>
            <div class="content">
              Access the list of all documents and forms that can be downloaded.
              For example, in this section you will find the code of coduct form
              which must be signed by all participants.
            </div>
          </div>
          <footer class="card-footer">
            <router-link class="card-footer-item" :to="{ name: 'documents' }"
              >Go to documents</router-link
            >
          </footer>
        </div>
      </div>

      <!-- <div class="column is-3">
        <div class="card">
          <div class="card-content">
            <p class="title">Links</p>
            <div class="content">
              <ul>
                <li>
                  <a href="https://ipho2022.com/" target="_blank"
                    >Zoom channel</a
                  >
                </li>
                <li>
                  <a href="https://ipho2022.com/" target="_blank"
                    >Telegraf channel</a
                  >
                </li>
              </ul>
              <tr />
              <ul>
                <li>
                  <a href="https://ipho2022.com/" target="_blank"
                    >IPhO 2023 official website</a
                  >
                </li>
                <li>
                  <a href="https://ipho2022.com/" target="_blank"
                    >Exam Tools for IPhO 2022</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </section>
</template>
