<script setup lang="ts">
import { onBeforeMount, onMounted, ref } from "vue";
import { useUserStore } from "@/stores/user";
import { useRoute, useRouter } from "vue-router";
import { AUTH_TOKEN_KEY } from "@/apollo";

const authDetails = ref({
  username: "",
  password: "",
});
const loading = ref(false);

const user = useUserStore();
const router = useRouter();
const route = useRoute();

function doRedirect() {
  const redirect = route.query.redirect as string;
  if (redirect) {
    router.push(redirect);
  } else {
    router.push({ name: "home" });
  }
}

onBeforeMount(async () => {
  const oldToken = localStorage.getItem(AUTH_TOKEN_KEY);
  if (oldToken) {
    console.log("FOUND oldTOken");
    try {
      await user.validateRefreshToken(oldToken);
      console.log("Token REFRESH");
      doRedirect();
    } finally {
      console.warn("Token refresh was not successfull.");
    }
  }
});

const loginUser = async () => {
  loading.value = true;
  try {
    await user.loginUser(
      authDetails.value.username,
      authDetails.value.password
    );
    doRedirect();
  } catch {
    console.error("ERROR with user auth!");
  } finally {
    loading.value = false;
  }
};
</script>

<template>
  <div class="container">
    <section class="section">
      <div class="columns is-mobile is-centered">
        <div class="column is-half">
          <form class="box" @submit.prevent="loginUser">
            <h1 class="title">Login</h1>

            <fieldset :disabled="user.loading">
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input
                    class="input"
                    type="text"
                    placeholder="Username"
                    v-model="authDetails.username"
                  />
                  <span class="icon is-small is-left">
                    <i class="mdi mdi-account"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <input
                    class="input"
                    type="password"
                    placeholder="Password"
                    v-model="authDetails.password"
                  />
                  <span class="icon is-small is-left">
                    <i class="mdi mdi-lock"></i>
                  </span>
                </p>
              </div>

              <div class="level">
                <div class="level-left">
                  <div class="level-item">
                    <div class="field">
                      <p class="control">
                        <button
                          class="button is-success"
                          :class="{ 'is-loading': user.loading }"
                          type="submit"
                        >
                          Login
                        </button>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="level-right">
                  <p class="level-item">
                    <router-link :to="{ name: 'forgot' }"
                      >Forgot password</router-link
                    >
                  </p>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </section>
  </div>
</template>
