<template>
  <section class="hero is-medium is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          <span class="icon">
            <i class="mdi mdi-hammer-wrench"></i>
          </span>
          Todo
        </h1>
        <h2 class="subtitle">This page is under construction.</h2>
      </div>
    </div>
  </section>
</template>
